

<div class="card-body">
      <h4 class="card-title"> The uniq string is  :
      
      <%= @substring.uniqstr   %>
      </h4>
      <h4> No.of chars :
      <%= @substring.uniqsize   %>
</h4>
      
      <%= link_to 'Enter next string', new_substring_path   %>
      
      </div>